@font-face {
    font-family: estedad;
    src: url('font/Estedad-Bold.eot');
    src: url('font/Estedad-Bold.eot?#iefix') format('embedded-opentype'),
         url('font/Estedad-Bold.woff2') format('woff2'),
         url('font/Estedad-Bold.woff') format('woff'),
         url('font/Estedad-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: estedad;
    src: url('font/Estedad-Black.eot');
    src: url('font/Estedad-Black.eot?#iefix') format('embedded-opentype'),
         url('font/Estedad-Black.woff2') format('woff2'),
         url('font/Estedad-Black.woff') format('woff'),
         url('font/Estedad-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: estedad;
    src: url('font/Estedad-Medium.eot');
    src: url('font/Estedad-Medium.eot?#iefix') format('embedded-opentype'),
         url('font/Estedad-Medium.woff2') format('woff2'),
         url('font/Estedad-Medium.woff') format('woff'),
         url('font/Estedad-Medium.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}